:root {
    --main-font-size: 3rem;
    --footer-font-size: 2rem;
    --grey: #f0eef1;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    /* Changed the root font-size to 10px to make the
    mental conversion of the font size easier when
    using rem */
}

html, body {
    min-height: 100vh;
    width: 100vw;
    font-family: "Roboto", sans-serif;;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    font-size: var(--main-font-size);
    display: flex;
    justify-content: space-around;
    padding: 30px;
    box-shadow: 5px 0px 5px grey;
    position: relative;
}

.main-content {
    background-color: var(--grey);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Setting flex to 1 to make the main content stretch and always place footer at the bottom */
}

.addBook {
    margin: 30px;
    font-size: var(--footer-font-size);
    font-weight: bold;
    border: none;
}

.form-popup {
    display: none;
    position: absolute;
    bottom: 50%;
    top: 30%;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--grey);
    font-size: var(--footer-font-size);
    border-radius: 10px;
    gap: 10px;
    width: 250px;
}

.form > * {
    border: none;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
}

.form > button {
    background-color: lightgreen;
}

.form > p {
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.is-read {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: 250px;
    gap: 20px;
}

.card {
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--footer-font-size);
    gap: 10px;
    padding: 20px;
    border: none
}

.card > * {
    flex: 1;
}

.card > button {
    width: 100%;
}

.card > .read {
    background-color: #ff9c9c;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.footer {
    font-size: var(--footer-font-size);
    font-weight: bold;
    background-color: var(--grey);
    padding: 20px;
    display: flex;
    justify-content: center;
}